.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.step {
    background: rgba(0, 0, 0, .2);
    display: block;
    margin: 4px 0;
    border: 0;
    padding: 2px 1em;
    cursor: pointer;
}

.square {
    background: #fff;
    border: 1px solid #999;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.red {
    color: #00ffaf;
}

.square:focus {
    outline: none;
}

.squareRow {
    display: flex;
    width: 102px;
}

.squareBox {
    display: inline-block;
}

.gameRight {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 1em;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}