.table-header,
.category {
    font-weight: bold;
}

.table-header {
    border-bottom: 2px solid #333;
    padding-bottom: 4px;
}

.category {
    padding: 8px 0 2px;
    border-bottom: 1px solid #333;
}

.goods-wrapper {
    width: 694px;
    padding: 20px;
    box-sizing: border-box;
}

.content-input {}

.row-title {
    width: 200px;
}

.row-data {
    flex: 1;
}

.product-table {
    width: 100%;
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.search-input {
    border: 1px solid #d1d5da;
    border-radius: 3px;
    background-color: #FFFFFF;
    padding: 10px 12px;
    background-color: #fff;
    color: #24292e;
    width: 300px;
}

.serach-flag {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 24px;
    margin-bottom: 20px;
}

.serach-flag input {
    margin: 0;
}